$white: #fff;
$black: #22292f;
$grey-darkest: #3d4852;
$grey-darker: #606f7b;
$grey-dark: #8795a1;
$grey: #b8c2cc;
$grey-light: #dae1e7;
$grey-lighter: #f1f5f8;
$grey-lightest: #f8fafc;
$blue: #56bbe7;
$blue-dark: #29a9e0;
$pistachio: #96cf00;
$yellow-darker: #684f1d;
$yellow-dark: #f2d024;
$yellow-lightest: #fcfbeb;

$semibold: 600;

// Breakpoints
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$default-transition: all 0.1s ease-in;
