@import "colors.scss";
@import "shared.scss";

scroll-container {
  scroll-behavior: smooth;
}

.navigation {
  composes: items-centered-between from global;
  padding: 4rem 5rem;
}

.navItem {
  composes: no-underline;
  composes: font-semibold;
  composes: text-black from global;
  padding: 1rem 2rem;
  letter-spacing: 0.025em;
  font-size: 1.125rem;
}

.btnLogin {
  composes: btnFullRounded;
  color: $blue;
  font-size: 0.875rem;

  &:hover {
    background-color: $blue;
    border-color: $white;
    color: $white;
  }
}

.brandLogo {
  width: 12rem;
}
