@import "constants.scss";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

@media (min-width: $lg) {
  .wrapper {
    padding: 4rem 5rem;
  }
}
