@import "colors.scss";

.wrapper {
  composes: section-spacing from "./shared.scss";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.info {
  font-size: 1.875rem;
  max-width: 30rem;
}

.image {
  width: 36rem;
  max-width: 100%;
  max-height: 20rem;
  object-fit: scale-down;
  margin-top: 3rem;
}

.brand {
  composes: text-pistachio from global;
  font-weight: bold;
}

@media (min-width: $sm) {
  .info {
    font-size: 2.5rem;
  }
}

@media (min-width: $xl) {
  .wrapper {
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  .image {
    margin-top: 0;
  }
}
